@use "../../../styles/clips.scss" as *;
.cv {
  .main {
    &-about {
      color: color(light-2);
      padding-bottom: 1rem;
      background-color: rgba(color(dark-2), 0.5);
      padding: 1rem;
      padding-bottom: 1rem;
      &-container {
        padding: 2rem;
        background-color: rgba(color(g3-2), 0.1);

        overflow: hidden;
        margin-top: 1rem;
        @include responsive(lg) {
          display: grid;
          // border: 2px solid blue;
          grid-template-areas:
            "abouttittle abouttittle"
            "aboutboulshit aboutboulshit"
            "aboutimage aboutlist";
        }
        @include responsive(sm) {
          grid-template-areas:
            "abouttittle abouttittle"
            "aboutboulshit aboutboulshit"
            "aboutimage aboutimage"
            "aboutlist aboutlist";
        }
      }
      &-tittle {
        opacity: 0;
        position: static;
        @include dflex(flex-start, flex-start);
        grid-area: abouttittle;
        font-family: iranyekan;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        padding-right: 2.5rem;
        margin-bottom: 1.5rem;
        &-animator {
          opacity: 1;
          animation: aboutTittleAnime 0.5s ease-in alternate;
        }
        @keyframes aboutTittleAnime {
          0% {
            opacity: 0;
            transform: translateY(-5px);
          }
          100% {
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
      &-image {
        grid-area: aboutimage;
        float: right;
        max-width: 30rem;
        min-width: 20rem;
        width: 100%;
        transform: translateX(50px);
        @include responsive(lg) {
          margin-top: 2rem;
        }
        &-animator {
          transform: translateX(0px);
          opacity: 1;
          animation: aboutImageAnime 0.5s ease-in alternate;
        }
        @keyframes aboutImageAnime {
          0% {
            transform: translateX(50px);
          }
          100% {
            transform: translateX(0px);
          }
        }
        img {
          padding-left: 1rem;
          border-radius: 5px;
          width: 100%;
        }
        @include responsive(md) {
          padding: 0;
        }
        @include responsive(sm) {
          margin: 0 auto;
        }
      }
      &-list {
        grid-area: aboutlist;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        transform: translateX(50px);
        @include responsive(lg) {
          margin-top: 2rem;
        }
        &-animator {
          transform: translateX(0px);
          animation: aboutListAnime 0.5s ease-in alternate;
        }
        @keyframes aboutListAnime {
          0% {
            transform: translateX(50px);
          }
          100% {
            transform: translateX(0px);
          }
        }
        @include responsive(lg) {
          @include dflex(flex-start, flex-start);
          flex-direction: column;
          padding-right: 2rem;
          grid-template-columns: 1fr;
          gap: 2rem;
        }
        @include responsive(sm) {
          margin-top: 2rem;
        }
        &-col {
          height: auto;
          @include dflex(flex-start, flex-start);
          gap: 1rem;
          flex-direction: column;
          width: 100%;
        }
        &-item {
          background-color: rgba(color(dark-2), 0.3);
          padding: 0.1rem 0.5rem;
          width: 100%;
          padding: 1rem;
          .label {
            font-size: 1.3rem;
            white-space: nowrap;
          }
          .text {
            white-space: nowrap;
            border-radius: 5px;
            font-family: iransansnum;
            font-size: 1.3rem;
            padding: 0px 0.5rem;
          }
          @include dflex(flex-start, flex-start);
          flex-wrap: wrap;
          @include responsive(sm) {
          }
        }
      }
      &-boulshit {
        margin-top: 1rem;
        // background-color: rgba(color(dark-2), 0.3);
        grid-area: aboutboulshit;
        color: color(light-2);
        opacity: 0;
        &-animator {
          opacity: 1;
          animation: aboutBoulshitAnime 0.5s ease-in alternate;
        }
        @keyframes aboutBoulshitAnime {
          0% {
            opacity: 0;
            transform: translateX(-50px);
          }
          100% {
            opacity: 1;
            transform: translateX(0px);
          }
        }
        &-content {
          padding: 2rem;
          line-height: 2.5rem;
          font-size: 1.35rem;
          p {
            margin-bottom: 2.3rem;
            line-height: 2.5rem;
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
  &-lighter {
    .main {
      &-about {
        color: color(dark-2);
        background-color: rgba(color(light-2), 0.5);
        &-container {
          background-color: rgba(color(g3-2), 0.1);
        }
        &-list {
          &-item {
            background-color: rgba(color(light-2), 0.3);
          }
        }
        &-boulshit {
          color: color(dark-2);
        }
      }
    }
  }
}
