@use "../../../styles/clips.scss" as *;
.cv {
  .main {
    &-about {
      color: color(light-2);
      padding-bottom: 1rem;
      background-color: rgba(color(dark-2), 0.5);
      padding-right: 1rem;
      padding-bottom: 6rem;
      &-container {
        overflow: hidden;
        margin-top: 1rem;
        @include responsive(lg) {
          display: grid;
          // border: 2px solid blue;
          grid-template-areas:
            "abouttittle abouttittle"
            "aboutboulshit aboutboulshit"
            "aboutimage aboutlist";
        }
        @include responsive(sm) {
          grid-template-areas:
            "abouttittle abouttittle"
            "aboutboulshit aboutboulshit"
            "aboutimage aboutimage"
            "aboutlist aboutlist";
        }
      }
      &-tittle {
        opacity: 0;
        position: static;
        @include dflex(flex-start, flex-start);
        grid-area: abouttittle;
        font-family: iranyekan;
        font-size: 2rem;
        margin-bottom: 2rem;
        padding-right: 2rem;
        margin-bottom: 3rem;
        &-animator {
          opacity: 1;
          animation: aboutTittleAnime 0.5s ease-in alternate;
        }
        @keyframes aboutTittleAnime {
          0% {
            opacity: 0;
            transform: translateY(-5px);
          }
          100% {
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
      &-image {
        grid-area: aboutimage;
        padding: 0 2rem 2rem 2rem;
        float: right;
        max-width: 30rem;
        min-width: 20rem;
        width: 100%;
        opacity: 0;
        &-animator {
          opacity: 1;
          animation: aboutImageAnime 0.5s ease-in alternate;
        }
        @keyframes aboutImageAnime {
          0% {
            opacity: 0;
            transform: translateX(50px);
          }
          100% {
            opacity: 1;
            transform: translateX(0px);
          }
        }
        img {
          // filter: drop-shadow(0px 0px 0px rgb(255, 255, 255)) grayscale(60%);
          opacity: 0.7;
          border-radius: 5px;
          width: 100%;
        }
        @include responsive(md) {
          padding: 0;
        }
        @include responsive(sm) {
          margin: 0 auto;
        }
      }
      &-list {
        grid-area: aboutlist;
        display: grid;
        grid-template-columns: 1fr 1fr;
        opacity: 0;
        &-animator {
          opacity: 1;
          animation: aboutListAnime 0.5s ease-in alternate;
        }
        @keyframes aboutListAnime {
          0% {
            opacity: 0;
            transform: translateX(50px);
          }
          100% {
            opacity: 1;
            transform: translateX(0px);
          }
        }
        @include responsive(lg) {
          @include dflex(flex-start, flex-start);
          flex-direction: column;
          padding-right: 2rem;
          grid-template-columns: 1fr;
          gap: 2rem;
        }
        @include responsive(sm) {
          margin-top: 2rem;
        }
        &-col {
          height: auto;
          @include dflex(flex-start, flex-start);
          gap: 2rem;
          flex-direction: column;
        }
        &-item {
          .label {
            font-size: 1.3rem;
            white-space: nowrap;
          }
          .text {
            white-space: nowrap;
            background-color: rgba(color(g3-3), 0.3);
            padding: 0.1rem 0.5rem;
            border-radius: 5px;
            font-family: iransansnum;
            font-size: 1.3rem;
          }
          @include responsive(sm) {
            @include dflex(flex-start, flex-start);
            flex-wrap: wrap;
          }
        }
      }
      &-boulshit {
        grid-area: aboutboulshit;
        color: color(light-2);
        opacity: 0;
        &-animator {
          opacity: 1;
          animation: aboutBoulshitAnime 0.5s ease-in alternate;
        }
        @keyframes aboutBoulshitAnime {
          0% {
            opacity: 0;
            transform: translateX(-50px);
          }
          100% {
            opacity: 1;
            transform: translateX(0px);
          }
        }
        &-content {
          padding: 2rem;
          line-height: 2.5rem;
          font-size: 1.35rem;
        }
      }
    }
  }
}
