@use "../../../styles/clips.scss" as *;
.cv {
  .main {
    &-portfolio {
      margin-top: 1rem;
      color: color(light-2);
      background-color: rgba(color(dark-2), 0.5);
      padding: 1rem;
      padding-bottom: 6rem;

      &-container {
        padding: 2rem;
        background-color: rgba(color(g3-2), 0.1);
      }
      &-filter {
        @include dflex;
        margin-bottom: 1rem;
        background-color: rgba(color(dark-2), 0.2);
        padding: 0.5rem 3rem;
        .nav {
          @include dflex();
          padding: 0.5rem 3rem;
          // width: 100%;
          border-bottom: 2px solid rgba(color(g3-1), 0.5);
          gap: 1rem;
          .item {
            transition: all 0.15s linear;
            cursor: pointer;
            border-radius: 5px;
            padding: 0.4rem 1.5rem 0.2rem 1.5rem;
            background-color: rgba(color(g3-6), 0.2);
            box-shadow: 0px 0px 4px rgba(color(g3-1), 0.1);
            border: 2px solid transparent;
            &:hover {
              border: 2px solid rgba(color(light-2), 0.8);
            }
          }
          .selecteFilter {
            transition: all 0.3s linear;
            font-weight: 700;
            color: color(dark-2);
            background-color: rgba(color(light-2), 0.8);
          }
        }
      }
      &-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        gap: 2rem;
        transition: all 0.3 linear;
        @include responsive(xl) {
          // border: 3px solid red;
          grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        }
        @include responsive(lg) {
          // border: 3px solid blue;
          grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        }
        @include responsive(md) {
          // border: 3px solid #16dc16;
          grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        }
        @include responsive(sm) {
          // border: 3px solid yellow;
          grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        }
        @include responsive(xm) {
          // border: 3px solid orange;
          grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        }
        &-item {
          transition: all 0.3 linear;
          position: relative;
          border: 2px solid rgba(color(dark-2), 0.2);
          border-radius: 5px;
          background-color: rgba(color(dark-2), 0.3);
          display: flex;
          flex-direction: column;
          .content {
            overflow: hidden;
            height: 100%;
            max-height: 35rem;
            &:hover {
            }
            .swiper {
              position: static;
              &-pagination {
                background-color: rgba(color(g3-1), 0.5);
                backdrop-filter: blur(3px);
                border-radius: 5px;
                bottom: 5rem;
              }
              &-button-next,
              &-button-prev {
                background-color: rgba(color(dark-2), 0.1);
                backdrop-filter: blur(3px);
                border-radius: 10px;
                &::after {
                  color: rgba(color(g3-6), 1);
                  font-size: 2rem;
                }
              }
              &-slide {
                .link {
                  .slide {
                    &-tittle {
                      font-family: iranyekan;
                      color: color(light-2);
                      padding: 1rem 1rem;
                      background-color: rgba(color(dark-2), 0.2);
                      font-size: 1.4rem;
                      border-bottom: 2px solid rgba(color(light-2), 1);
                    }
                    &-imageContainer {
                      img {
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
          .actions {
            @include dflex(space-between);
            background-color: rgba(color(dark-2), 0.2);
            padding: 0.5rem 1rem;
            &-btn {
              max-width: 2.5rem;
              width: 100%;
              .actionIcon {
                svg {
                  transition: all 0.15s linear;
                }
                &:hover {
                  svg {
                    transform: scale(1.1);
                  }
                }
              }
            }
            &-deploy {
              &-container {
                display: flex;
                gap: 1rem;
              }
              svg {
                width: 2.8rem;
                path {
                  transition: all 0.15s linear;
                  fill: rgba(color(light-2), 1);
                }
                circle {
                  transition: all 0.15s linear;
                  fill: rgba(color(light-2), 1);
                }
                &:hover {
                  path {
                    fill: color(g3-2);
                  }
                  circle {
                    fill: color(g3-2);
                  }
                }
              }
            }
            &-repo {
              svg {
                path {
                  transition: all 0.15s linear;
                  fill: rgba(color(light-2), 1);
                }
                &:hover {
                  path {
                    fill: color(g3-2);
                  }
                }
              }
            }
            &-pdf {
              svg {
                stroke: rgba(color(light-2), 1);
                path {
                  transition: all 0.15s linear;
                  stroke: rgba(color(light-2), 1);
                }
                &:hover {
                  stroke: color(g3-2);
                  path {
                    stroke: color(g3-2);
                  }
                }
              }
            }
          }
        }
        &-animator {
          transform: scale(1);
          animation: shower 10s alternate;
        }
        .notSelected {
          animation: hider 0.2s forwards;
          overflow: hidden;
          width: 0;
          height: 0;
        }
        .selectedItem {
          animation: shower 0.5s ease-in forwards;
        }
        @keyframes hider {
          from {
            height: 100%;
            width: 100%;
            opacity: 1;
          }
          to {
            height: 0px;
            width: 0px;
            opacity: 0;
            overflow: hidden;
            display: none;
            position: absolute;
            top: 1000px;
          }
        }
        @keyframes shower {
          from {
            transform: scale(0);
          }
          to {
            transform: scale(1);
          }
        }
      }
    }
  }
  &-lighter {
    .main {
      &-portfolio {
        color: color(dark-2);
        background-color: rgba(color(light-2), 0.5);
        &-container {
          background-color: rgba(color(g3-2), 0.1);
        }
        &-filter {
          background-color: rgba(color(g3-2), 0.1);
          .nav {
            border-bottom: 2px solid rgba(color(light-2), 0.7);
            .item {
              background-color: rgba(color(light-2), 0.8);
              // box-shadow: 0px 0px 4px rgba(color(light-2), 1);
              // border: transparent;
              &:hover {
                // box-shadow: none;
                background-color: rgba(color(g4-6), 1);
                // transform: scale(1.1);
              }
            }
            .selecteFilter {
              // color: color(dark-3);
              // box-shadow: none;
              background-color: rgba(color(g4-6), 1);
              // border: 1px solid rgba(color(g4-1), 1);
              transform: scale(1.1);
              &:hover {
                border: transparent;
              }
            }
          }
        }
        &-list {
          &-item {
            border: 2px solid rgba(color(light-2), 0.2);
            background-color: rgba(color(light-2), 0.3);
            .content {
              .swiper {
                &-pagination {
                  background-color: rgba(color(light-2), 0.5);
                }
                &-button-next,
                &-button-prev {
                  background-color: rgba(color(light-2), 0.7);
                  &::after {
                    color: rgba(color(g3-6), 1);
                  }
                }
                &-slide {
                  .link {
                    .slide {
                      &-tittle {
                        color: color(dark-2);
                        background-color: rgba(color(light-2), 0.2);
                        border-bottom: 2px solid rgba(color(light-2), 1);
                      }
                    }
                  }
                }
              }
            }
            .actions {
              background-color: rgba(color(light-2), 0.2);
              &-deploy {
                svg {
                  path {
                    fill: rgba(color(g3-4), 0.6);
                  }
                  circle {
                    fill: rgba(color(g3-4), 0.8);
                  }
                  &:hover {
                    path {
                      fill: color(g3-4);
                    }
                    circle {
                      fill: color(g3-4);
                    }
                  }
                }
              }
              &-repo {
                svg {
                  path {
                    fill: rgba(color(g3-4), 0.6);
                  }
                  &:hover {
                    path {
                      fill: color(g3-4);
                    }
                  }
                }
              }
              &-pdf {
                svg {
                  stroke: rgba(color(g3-4), 0.6);
                  path {
                    stroke: rgba(color(g3-4), 0.6);
                  }
                  &:hover {
                    stroke: color(g3-4);
                    path {
                      stroke: color(g3-4);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
