@use "./mixin&variable" as *;

@font-face {
  font-family: iransans;
  src: url(fonts/iransans/ttf/IRANSansWeb.ttf);
}
@font-face {
  font-family: iransansnum;
  src: url(fonts/iransans/ttf-num/IRANSansWebFaNum.ttf);
}
@font-face {
  font-family: iransansbold;
  src: url(fonts/iransans/ttf/IRANSansWeb_Bold.ttf);
}
@font-face {
  font-family: iranyekan;
  src: url(fonts/iranyekan/IRANYekanWeb.ttf);
}
@font-face {
  font-family: iranyekan-bold;
  src: url(fonts/iranyekan/IRANYekanWeb-Bold.ttf);
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
html {
  font-size: 62.5%;
  @include responsive(lg) {
    font-size: 58%;
  }
  @include responsive(md) {
    font-size: 55%;
  }
  @include responsive(sm) {
    font-size: 53%;
  }
  @include responsive(xs) {
    font-size: 51%;
  }
}
body {
  background-color: #f7f8fd;
  color: color(dark-2);
  font-family: iransans;
}
a {
  color: color(dark-2);
  text-decoration: none;
}
.MAIN {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 1em;
}
