@use "../../../../styles/clips.scss" as *;
.backdrop {
  position: fixed;
  background-color: rgba(color(dark-2), 0.5);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  &-lighter {
    background-color: rgba(color(light-2), 0.5);
  }
}
