@use "../../../styles/clips.scss" as *;
.cv {
  .main {
    &_hero {
      @include dflex;
      height: 100vh;
      &_background {
        z-index: 0;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: drop-shadow(0px 0px 0px rgb(255, 255, 255)) brightness(60%);
      }
      &_content {
        @include dflex(flex-start);
        position: absolute;
        top: 10%;
        right: 25%;
        z-index: 5;
        flex-direction: column;
        &_animatiner {
          position: absolute;
          opacity: 1;
          animation: heroerContent 0.75s ease-in alternate;
        }
        @keyframes heroerContent {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
        &_tittle {
          margin-left: auto;
          h1 {
            color: color(light-2);
            font-size: 3rem;
          }
        }
        &_expertise {
          margin-right: 1rem;
          &_item {
            @include dflex;
          }
          span {
            font-size: 2rem;
            background-color: rgba(color(dark-2), 0.7);
            padding: 0.2rem 1rem;
          }
          .label {
            text-transform: none;
            border-radius: 0px 10px 10px 0px;
            color: color(light-2);
            padding-left: 0.1rem;
          }
          .text {
            display: block;
            color: color(light-2);
            overflow: hidden;
            width: 0px;
            border-left: 3px solid orange;
            white-space: nowrap;
            margin-left: auto;
            padding-left: 0.1rem;
            animation: blink-caret 0.75s step-end infinite;
          }
          .text1 {
            animation: typing1 2s steps(30, end) forwards,
              blink-caret 0.75s step-end infinite;
          }
          @keyframes typing1 {
            from {
              width: 0px;
            }
            to {
              width: 100%;
            }
          }
          .text2 {
            animation: typing2 2s steps(30, end) forwards,
              blink-caret 0.75s step-end infinite;
          }
          @keyframes typing2 {
            from {
              width: 0px;
            }
            to {
              width: 100%;
            }
          }
          .text3 {
            animation: typing3 2s steps(30, end) forwards,
              blink-caret 0.75s step-end infinite;
          }
          @keyframes typing3 {
            from {
              width: 0px;
            }
            to {
              width: 100%;
            }
          }

          /* The typewriter cursor effect */
          @keyframes blink-caret {
            from,
            to {
              border-color: transparent;
            }
            50% {
              border-color: orange;
            }
          }
        }
        &_links {
          @include dflex;
          margin-top: 1rem;
          gap: 1rem;
          &_item {
            background-color: rgba(color(dark-2), 0.5);
            border: 2px solid rgba(color(light-2), 0.2);
            backdrop-filter: blur(3px);
            color: rgba(color(g3-3), 1);
            font-weight: 600;
            padding: 0.3rem 1rem;
            border-radius: 5px;
            font-size: 1.3rem;
            letter-spacing: 0.05rem;
            &:hover {
              transform: scale(1.02);
              box-shadow: 1px 1px 2px rgba(color(light-2), 0.3);
            }
          }
        }
        @include responsive(sm) {
          top: 10rem;
          right: 2rem;
          &_tittle {
            h1 {
              font-size: 3.5rem;
            }
          }
          &_expertise {
            margin-right: 1rem;
            span {
              font-size: 2.5rem;
              padding: 0.2rem 1rem;
            }
          }
        }
      }
    }
  }
  &_lighter {
    .main {
      &_hero {
        &_background {
          filter: drop-shadow(0px 0px 0px rgb(255, 255, 255)) brightness(90%);
        }
        &_content {
          &_tittle {
            h1 {
              color: color(dark-3);
            }
          }
          &_expertise {
            span {
              backdrop-filter: blur(3px);
              background-color: rgba(color(light-2), 0.2);
            }
            .label {
              color: color(dark-2);
            }
            .text {
              color: color(dark-2);
              // color: color(light-2);
              border-left: 3px solid orange;
              animation: blink-caret-l 0.75s step-end infinite;
            }
            .text1 {
              animation: typing1 2s steps(30, end) forwards,
                blink-caret-l 0.75s step-end infinite;
            }
            .text2 {
              animation: typing2 2s steps(30, end) forwards,
                blink-caret-l 0.75s step-end infinite;
            }
            .text3 {
              animation: typing3 2s steps(30, end) forwards,
                blink-caret-l 0.75s step-end infinite;
            }

            @keyframes blink-caret-l {
              from,
              to {
                border-color: transparent;
              }
              50% {
                border-color: color(dark-5);
              }
            }
          }
          &_links {
            &_item {
              background-color: rgba(color(light-2), 0.35);
              // border: 2px solid rgba(color(dark-2), 0.5);
              color: rgba(color(g3-4), 1);
              font-size: 1.3rem;
              &:hover {
                box-shadow: 1px 1px 2px rgba(color(light-2), 0.3);
              }
            }
          }
        }
      }
    }
  }
  &_en {
    .main {
      &_hero {
        &_background {
          transform: scaleX(-1);
        }
        &_content {
          top: 20%;
          right: 10%;
          &_tittle {
            margin: 0px;
            margin-right: auto;
          }
          &_expertise {
            .label {
              border-radius: 10px 0px 0px 10px;
              padding-right: 0.5rem;
              padding-left: 1rem;
            }
            .text {
              border: transparent;
              border-right: 3px solid orange;
              margin: 0px;
              margin-right: auto;
              padding-left: 0.1rem;
            }
          }
        }
      }
    }
  }
}
