@use "../../../styles/clips.scss" as *;
.menu {
  display: none;
  z-index: 100;
  @include responsive(md) {
    display: block;
  }
  &_nav {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 0rem 1rem;
    background-color: rgba(color(dark-2), 0.2);
    backdrop-filter: blur(2px);
    @include dflex(space-between);
  }
  .closeIcon {
    position: fixed;
    top: 1rem;
    left: 2rem;
    cursor: pointer;
    border-radius: 100%;
    padding: 0.2rem;
    background-color: rgba(color(g3-5), 0.2);
    backdrop-filter: blur(2px);
    height: 4rem;
    width: 4rem;
    transition: all 0.15s linear;
    &:hover {
      transform: scale(1.05);
    }
    svg {
      path {
        fill: rgba(color(light-2), 0.7);
      }
    }
  }
  .menuIcon {
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(color(dark-2), 0.2);
    backdrop-filter: blur(3px);
    height: 4rem;
    width: 4rem;
    transition: all 0.15s linear;
    &:hover {
      transform: scale(1.05);
    }
    svg {
      path {
        fill: rgba(color(light-2), 0.9);
      }
    }
  }
}
.cv {
  &_lighter {
    .menu {
      &_nav {
        background-color: rgba(color(light-2), 0.2);
      }
      .closeIcon {
        background-color: rgba(color(light-2), 0.8);
        svg {
          path {
            fill: rgba(color(dark-4), 1);
          }
        }
      }
      .menuIcon {
        background-color: rgba(color(light-2), 0.2);
        svg {
          path {
            fill: rgba(color(dark-4), 1);
          }
        }
      }
    }
  }
}
.cv {
  &_en {
    .menu {
      @include responsive(md) {
        display: flex;
      }
      .closeIcon {
        margin-left: auto;
        right: 2rem;
      }
      .menuIcon {
        left: 2rem;
      }
    }
  }
}
