@use "./styles/clips.scss" as *;

.cv {
  background: hsla(185, 64%, 51%, 1);
  display: flex;
  background: linear-gradient(
    90deg,
    hsla(185, 64%, 51%, 1) 0%,
    hsla(277, 74%, 24%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(185, 64%, 51%, 1) 0%,
    hsla(277, 74%, 24%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(185, 64%, 51%, 1) 0%,
    hsla(277, 74%, 24%, 1) 100%
  );
  .asideContainer {
    position: sticky;
    top: 0px;
    height: 100vh;
    min-width: 20rem;
    max-width: 25rem;
    backdrop-filter: blur(1px);
    padding: 1rem;
    background: linear-gradient(
      90deg,
      rgba(75, 116, 160, 0.261) 0%,
      rgba(36, 55, 71, 0.885) 100%
    );
    z-index: 10;
    // transition: all 3s linear;
    @include responsive(md) {
      transition: all 0.5s ease-in-out;
      position: fixed;
      right: -400px;
    }
  }
  .aside {
    @include dflex(flex-start, flex-start);
    flex-direction: column;
    width: 100%;
    height: 100%;
    &-header {
      width: 100%;
      @include dflex;
      flex-direction: column;
      &-image {
        width: 100%;
        height: 100%;

        max-width: 14rem;
        max-height: 14rem;
        object-fit: cover;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 5px solid color(dark-2);
          border-radius: 100%;
        }
      }
      &-fullname {
        padding: 1rem;
        @include dflex;
        flex-direction: column;
        h1 {
          font-size: 1.7rem;
          color: color(light-2);
        }
        .nickName {
          color: rgba(color(g3-1), 1);
        }
      }
      &-socialmedias {
        &-list {
          background-color: rgba(color(g3-2), 0.2);
          border-radius: 1000px;
          padding: 2px 1rem;
          @include dflex;
          gap: 0.5rem;
          &-item {
            a {
              img {
              }
            }
          }
        }
      }
    }
    &-nav {
      width: calc(100% - 1rem);
      margin-top: 2rem;
      &-icon {
        width: 2.3rem;
        height: 2.3rem;
      }
      &-list {
        // width: 100%;
        @include dflex(flex-start, flex-start);
        flex-direction: column;
        &-item {
          transition: all 150ms linear;
          padding: 0.5rem 2rem 0.5rem 0rem;
          width: 100%;
          a {
            @include dflex(flex-start);
            gap: 0.5rem;
            svg {
              path {
                stroke-width: 1px;
                // filter: drop-shadow(3px 1px 2px rgba(color(g3-2), 0.5));
                fill: color(light-4);
              }
            }
            span {
              font-size: 1.4rem;
              color: color(light-2);
            }
          }
          &:hover {
            background-color: rgba(color(dark-2), 0.5);
            a {
              svg {
                path {
                  filter: drop-shadow(1px 1px 2px rgba(color(g3-2), 0.5));
                  fill: color(g3-2);
                }
              }
              span {
                color: color(light-2);
              }
            }
          }
        }
      }
    }
    &-footer {
      margin-top: auto;
      width: 100%;
      @include dflex;
      flex-direction: column;
      background-color: rgba(color(dark-2), 0.1);
      &-copyright {
        color: rgba(color(g3-2), 1);
      }
      &-designed {
        color: rgba(color(g3-2), 1);
      }
    }
  }
  .main {
    &-menu {
      display: none;
      z-index: 100;
      @include responsive(md) {
        display: block;
      }
      .closeIcon {
        position: fixed;
        top: 1rem;
        left: 2rem;
        cursor: pointer;
        border-radius: 100%;
        padding: 0.2rem;
        background-color: rgba(color(g3-5), 0.2);
        backdrop-filter: blur(2px);
        height: 4rem;
        width: 4rem;
        transition: all 0.15s linear;
        &:hover {
          transform: scale(1.05);
        }
        svg {
          path {
            fill: rgba(color(light-2), 0.7);
          }
        }
      }
      .menuIcon {
        position: fixed;
        top: 1rem;
        right: 2rem;
        cursor: pointer;
        border-radius: 5px;
        background-color: rgba(color(dark-2), 0.2);
        backdrop-filter: blur(3px);
        height: 4rem;
        width: 4rem;
        transition: all 0.15s linear;
        &:hover {
          transform: scale(1.05);
        }
        svg {
          path {
            fill: rgba(color(light-2), 0.9);
          }
        }
      }
    }
    &-hero {
      @include dflex;
      height: 100vh;
      // position: relative;
      &-background {
        z-index: 0;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-image: url("/images/hero/hero.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: drop-shadow(0px 0px 0px rgb(255, 255, 255)) brightness(60%);
      }
      &-content {
        @include dflex(flex-start);
        position: absolute;
        top: 10%;
        right: 25%;
        z-index: 5;
        flex-direction: column;
        &-tittle {
          margin-left: auto;
          h1 {
            color: color(light-2);
            font-size: 3rem;
          }
        }
        &-expertise {
          margin-left: auto;
          &-item {
            @include dflex;
          }
          span {
            background-color: rgba(color(dark-2), 0.7);
            font-size: 2rem;
          }
          .label {
            border-radius: 0px 10px 10px 0px;
            color: color(light-2);
            padding-left: 0.5rem;
          }
          .text {
            display: block;
            color: color(light-2);
            overflow: hidden;
            width: 0px;
            border-left: 3px solid orange;
            white-space: nowrap;
            margin-left: auto;
            padding-left: 0.5rem;
            animation: blink-caret 0.75s step-end infinite;
          }
          .text1 {
            animation: typing1 2s steps(30, end) forwards,
              blink-caret 0.75s step-end infinite;
          }
          @keyframes typing1 {
            from {
              width: 0px;
            }
            to {
              width: 100%;
            }
          }
          .text2 {
            animation: typing2 2s steps(30, end) forwards,
              blink-caret 0.75s step-end infinite;
          }
          @keyframes typing2 {
            from {
              width: 0px;
            }
            to {
              width: 100%;
            }
          }
          .text3 {
            animation: typing3 2s steps(30, end) forwards,
              blink-caret 0.75s step-end infinite;
          }
          @keyframes typing3 {
            from {
              width: 0px;
            }
            to {
              width: 100%;
            }
          }

          /* The typewriter cursor effect */
          @keyframes blink-caret {
            from,
            to {
              border-color: transparent;
            }
            50% {
              border-color: orange;
            }
          }
        }
      }
    }
    &-about {
      color: color(light-2);
      padding-bottom: 1rem;
      background-color: rgba(color(dark-2), 0.5);
      padding-right: 1rem;
      padding-bottom: 6rem;
      &-container {
        overflow: hidden;
        margin-top: 1rem;
        @include responsive(lg) {
          display: grid;
          // border: 2px solid blue;
          grid-template-areas:
            "abouttittle abouttittle"
            "aboutboulshit aboutboulshit"
            "aboutimage aboutlist";
        }
        @include responsive(sm) {
          grid-template-areas:
            "abouttittle abouttittle"
            "aboutboulshit aboutboulshit"
            "aboutimage aboutimage"
            "aboutlist aboutlist";
        }
      }
      &-tittle {
        opacity: 0;
        position: static;
        @include dflex(flex-start, flex-start);
        grid-area: abouttittle;
        font-family: iranyekan;
        font-size: 2rem;
        margin-bottom: 2rem;
        padding-right: 2rem;
        margin-bottom: 3rem;
        &-animator {
          opacity: 1;
          animation: aboutTittleAnime 0.5s ease-in alternate;
        }
        @keyframes aboutTittleAnime {
          0% {
            opacity: 0;
            transform: translateY(-5px);
          }
          100% {
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
      &-image {
        grid-area: aboutimage;
        padding: 0 2rem 2rem 2rem;
        float: right;
        max-width: 30rem;
        min-width: 20rem;
        width: 100%;
        opacity: 0;
        &-animator {
          opacity: 1;
          animation: aboutImageAnime 0.5s ease-in alternate;
        }
        @keyframes aboutImageAnime {
          0% {
            opacity: 0;
            transform: translateX(50px);
          }
          100% {
            opacity: 1;
            transform: translateX(0px);
          }
        }
        img {
          // filter: drop-shadow(0px 0px 0px rgb(255, 255, 255)) grayscale(60%);
          opacity: 0.7;
          border-radius: 5px;
          width: 100%;
        }
        @include responsive(md) {
          padding: 0;
        }
        @include responsive(sm) {
          margin: 0 auto;
        }
      }
      &-list {
        grid-area: aboutlist;
        display: grid;
        grid-template-columns: 1fr 1fr;
        opacity: 0;
        &-animator {
          opacity: 1;
          animation: aboutListAnime 0.5s ease-in alternate;
        }
        @keyframes aboutListAnime {
          0% {
            opacity: 0;
            transform: translateX(50px);
          }
          100% {
            opacity: 1;
            transform: translateX(0px);
          }
        }
        @include responsive(lg) {
          @include dflex(flex-start, flex-start);
          flex-direction: column;
          padding-right: 2rem;
          grid-template-columns: 1fr;
          gap: 2rem;
        }
        @include responsive(sm) {
          margin-top: 2rem;
        }
        &-col {
          height: auto;
          @include dflex(flex-start, flex-start);
          gap: 2rem;
          flex-direction: column;
        }
        &-item {
          .label {
            font-size: 1.3rem;
            white-space: nowrap;
          }
          .text {
            white-space: nowrap;
            background-color: rgba(color(g3-3), 0.3);
            padding: 0.1rem 0.5rem;
            border-radius: 5px;
            font-family: iransansnum;
            font-size: 1.3rem;
          }
          @include responsive(sm) {
            @include dflex(flex-start, flex-start);
            flex-wrap: wrap;
          }
        }
      }
      &-boulshit {
        grid-area: aboutboulshit;
        color: color(light-2);
        opacity: 0;
        &-animator {
          opacity: 1;
          animation: aboutBoulshitAnime 0.5s ease-in alternate;
        }
        @keyframes aboutBoulshitAnime {
          0% {
            opacity: 0;
            transform: translateX(-50px);
          }
          100% {
            opacity: 1;
            transform: translateX(0px);
          }
        }
        &-content {
          padding: 2rem;
          line-height: 2.5rem;
          font-size: 1.35rem;
        }
      }
    }
    &-skills {
      position: relative;
      color: color(light-2);
      background-color: rgba(color(dark-2), 0.5);
      margin-top: 1rem;
      padding-right: 1rem;
      padding-bottom: 6rem;
      overflow: hidden;

      &-list {
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        // gap: 0.5rem;
        overflow: hidden;
        gap: 2rem;
        @include responsive(sm) {
          grid-template-columns: 1fr;
        }
        &-animator {
          opacity: 1;
          animation: skillItemAnime 1s alternate;
        }
        @keyframes skillItemAnime {
          0% {
            transform: translateX(-200px);
            opacity: 0.5;
          }
          100% {
            transform: translateX(0);
            opacity: 1;
          }
        }

        &-item {
          overflow: hidden;
          @include dflex;
          padding: 1rem;
          @include dflex();
          flex-direction: column;
          gap: 0.5rem;
          background-color: rgba(color(g3-2), 0.1);
          border-radius: 20px;
          &-animator {
            animation: skillItemAnime 1s alternate;
          }
          @keyframes skillItemAnime {
            0% {
              transform: translateX(-200px);
              opacity: 0.5;
            }
            100% {
              transform: translateX(0);
              opacity: 1;
            }
          }
          &-contentBase {
            @include dflex();
            border-radius: 50%;
            height: 15rem;
            width: 15rem;
            padding: 0.8rem;
            &-container {
              position: relative;
              @include dflex(flex-start);
              height: 100%;
              width: 100%;
              background-color: #602fd345;
              border-radius: 50%;
              padding: 4rem;
              &-percent {
                position: absolute;
                bottom: 3px;
                left: 50%;
                font-size: 1.3rem;
                font-family: iransansnum;
                transform: translateX(-50%);
              }
              img {
                width: 100%;
              }
            }
          }
          &-tittle {
            font-size: 1.5rem;
            text-transform: capitalize;
            margin-top: 0.5rem;
          }
        }
      }
    }
    &-resume {
      margin-top: 1rem;
      color: color(light-2);
      background-color: rgba(color(dark-2), 0.5);
      padding: 1rem;
      padding-bottom: 6rem;

      &-container {
        overflow: hidden;
      }
      &-experiences {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        @include responsive(md) {
          grid-template-columns: 1fr;
        }
        &-experience {
          border-radius: 10px;
          padding: 0.5rem 1rem;
          background-color: rgba(color(dark-2), 0.2);
          .header {
            font-size: 1.5rem;
            padding-bottom: 0.3rem;
            &::after {
              content: "";
              height: 2px;
              width: 60px;
              display: block;
              border-radius: 2px;
              border-bottom: 2px solid rgba(color(light-2), 0.08);
              padding-top: 0.5rem;
            }
          }
          .list {
            list-style: none;
            &-item {
              @include dflex(flex-start, flex-start);
              flex-direction: column;
              padding: 0.5rem 1rem;
              background-color: rgba(color(g3-4), 0.05);
              border-radius: 5px;
              margin: 1rem;
              &-animator {
                animation: resumeExperiencesAnime 0.2s alternate;
              }
              @keyframes resumeExperiencesAnime {
                0% {
                  transform: translateX(-200px);
                  opacity: 0.5;
                }
                100% {
                  transform: translateX(0);
                  opacity: 1;
                }
              }
              .tittle {
                font-size: 1.4rem;
                margin-bottom: 0.4rem;
              }
              .date {
                font-size: 1.2rem;
                font-family: iransansnum;
                @include dflex;
                gap: 0.5rem;
                &-since {
                }
                &-dash {
                }
                &-to {
                }
              }
              .place {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
      &-language {
        margin-top: 2rem;
        .tittle {
          margin-bottom: 1rem;
          font-size: 1.4rem;
        }
        .list {
          list-style: none;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2rem;
          padding: 0.5rem 2rem;
          @include responsive(sm) {
            grid-template-columns: 1fr;
          }
          &-item {
            width: 100%;
            padding: 1rem;
            border-radius: 5px;
            background-color: rgba(color(g3-2), 0.05);
            .data {
              @include dflex(space-between);
              margin-bottom: 0.3rem;
              font-size: 1.1rem;
              &-tittle {
              }
              &-percent {
              }
            }
            .progressBar {
              // max-width: 30rem;
              margin-top: 0.1rem;
              height: 1.5rem;
              width: 100%;
              border-radius: 2px;
              border: 2px solid rgba(color(g3-3), 0.4);
              @include dflex(flex-end);
              transition: all 0.3s linear;
              &-percent {
                height: 100%;
                width: 0px;
                background-color: rgba(color(g3-3), 0.5);
              }
            }
          }
        }
      }
    }
    &-portfolio {
      margin-top: 1rem;
      color: color(light-2);
      background-color: rgba(color(dark-2), 0.5);
      padding: 1rem;
      padding-bottom: 6rem;

      &-container {
      }
      &-filter {
        @include dflex;
        margin-bottom: 1rem;
        .nav {
          padding: 0.7rem 3rem;
          // border-radius: 7px;
          // border: 2px solid rgba(color(g3-1), 0.5);
          background-color: rgba(color(g3-5), 0.3);
          @include dflex();
          gap: 1rem;
          .item {
            transition: all 0.15s linear;
            cursor: pointer;
            border-radius: 5px;
            padding: 0.3rem 1rem;
            background-color: rgba(color(g3-4), 0.4);
            border: 2px solid transparent;
            &:hover {
              border: 2px solid rgba(color(light-2), 0.8);
            }
          }
          .selecteFilter {
            font-weight: 700;
            color: color(dark-2);
            background-color: rgba(color(light-2), 0.8);
          }
        }
      }
      &-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        gap: 2rem;
        transition: all 0.3 linear;
        @include responsive(xl) {
          // border: 3px solid red;
          grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        }
        @include responsive(lg) {
          // border: 3px solid blue;
          grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        }
        @include responsive(md) {
          // border: 3px solid #16dc16;
          grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        }
        @include responsive(sm) {
          // border: 3px solid yellow;
          grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        }
        @include responsive(xm) {
          // border: 3px solid orange;
          grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        }
        &-item {
          transition: all 0.3 linear;
          position: relative;
          border: 2px solid rgba(color(dark-2), 0.2);
          border-radius: 5px;
          background-color: rgba(color(dark-2), 0.3);
          // transform: scale(0.1);
          // display: none;

          // opacity: 0;
          .prevImage {
            overflow: hidden;
            max-height: 35rem;
            &:hover {
            }
            .swiper {
              position: static;
              &-pagination {
                background-color: rgba(color(light-2), 0.2);
                backdrop-filter: blur(3px);
                border-radius: 5px;
                bottom: 5rem;
              }
              &-button-next,
              &-button-prev {
                background-color: rgba(color(dark-2), 0.1);
                backdrop-filter: blur(3px);
                border-radius: 10px;
                &::after {
                  color: rgba(color(g3-2), 1);
                  font-size: 2rem;
                }
              }
              &-slide {
                .link {
                  .slide {
                    &-tittle {
                      font-family: iranyekan;
                      color: color(light-2);
                      padding: 1rem 1rem;
                      background-color: rgba(color(dark-2), 0.1);
                      font-size: 1.4rem;
                      border-bottom: 2px solid rgba(color(light-2), 1);
                    }
                    &-imageContainer {
                      img {
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
          .actions {
            background-color: rgba(color(dark-2), 0.5);
            z-index: 10;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            backdrop-filter: blur(3px);
            padding: 0.5rem 1rem;
            @include dflex(space-between);
            &-btn {
              max-width: 3rem;
              width: 100%;
              .actionIcon {
                svg {
                  transition: all 0.15s linear;
                }
                &:hover {
                  svg {
                    transform: scale(1.1);
                  }
                }
              }
            }
            &-deploy {
              svg {
                path {
                  transition: all 0.15s linear;
                  fill: rgba(color(light-2), 1);
                }
                &:hover {
                  path {
                    fill: color(g3-2);
                  }
                }
              }
            }
            &-repo {
              svg {
                path {
                  transition: all 0.15s linear;
                  fill: rgba(color(light-2), 1);
                }
                &:hover {
                  path {
                    fill: color(g3-2);
                  }
                }
              }
            }
            &-pdf {
              svg {
                path {
                  transition: all 0.15s linear;
                  stroke: rgba(color(light-2), 1);
                }
                &:hover {
                  path {
                    stroke: color(g3-2);
                  }
                }
              }
            }
          }
        }
        &-animator {
          transform: scale(1);
          animation: shower 10s alternate;
        }
        .notSelected {
          animation: hider 0.2s forwards;
          overflow: hidden;
          width: 0;
          height: 0;
        }
        .selectedItem {
          animation: shower 0.5s ease-in forwards;
        }
        @keyframes hider {
          from {
            height: 100%;
            width: 100%;
            opacity: 1;
          }
          to {
            height: 0px;
            width: 0px;
            opacity: 0;
            overflow: hidden;
            display: none;
            position: absolute;
            top: 1000px;
          }
        }
        @keyframes shower {
          from {
            transform: scale(0);
          }
          to {
            transform: scale(1);
          }
        }
      }
    }
    &-contact {
      overflow: hidden;
      margin-top: 1rem;
      color: color(light-2);
      background-color: rgba(color(dark-2), 0.5);
      padding: 1rem;
      padding-bottom: 6rem;
      &-container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 2rem;
        @include responsive(lg) {
          grid-template-columns: 1fr;
        }
      }
      &-contactLines {
        position: relative;
        @include dflex(flex-start, flex-start);
        height: 100%;
        background-color: rgba(color(g3-2), 0.1);
        flex: 1;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 1rem;
        &-item {
          opacity: 0;
          @include dflex(flex-start);
          gap: 0.5rem;
          width: 100%;
          background-color: rgba(color(g3-2), 0.1);
          padding: 1rem;
          transition: all 0.15s linear;
          &-icon {
            flex: 1 0 auto;
            width: 100%;
            height: 100%;
            max-width: 4rem;
            padding: 0.5rem;
            border-radius: 100%;
            background-color: rgba(color(light-2), 0.5);
            svg {
              width: 100%;
              height: 100%;
              object-fit: cover;
              fill: rgba(color(g3-3), 0.7);
              stroke: rgba(color(g3-3), 0.7);
            }
          }
          &:hover {
            background-color: rgba(color(dark-2), 0.1);
            .main-contact-contactLines-item-icon {
              transition: all 0.15s linear;
              background-color: rgba(color(g3-3), 0.7);
              svg {
                fill: rgba(color(light-2), 0.9);
                stroke: rgba(color(light-2), 0.9);
              }
            }
          }

          .content {
            &-label {
              font-size: 1.3rem;
            }
            &-value {
              direction: ltr;
              font-family: iransansnum;
              margin-top: 0.5rem;
              font-size: 1.2rem;
              letter-spacing: 0.8px;
            }
          }
        }
        &-animator {
          background-color: rgba(color(dark-2), 0.2);
          opacity: 1;
          animation: contactLinesItemAnime 1s alternate;
        }
        @keyframes contactLinesItemAnime {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        &-imageContainer {
          bottom: 0;
          right: 20%;
          position: absolute;
          margin-right: auto;
          opacity: 0.2;
        }
      }
      &-form {
        // overflow: hidden;
        height: 100%;
        flex: 1 0 auto;
        padding: 2rem 1rem;
        background-color: rgba(color(g3-2), 0.1);
        // opacity: 0;
        .formContainer {
          // overflow: hidden;
          width: 100%;
        }
        &-animator {
          background-color: rgba(color(dark-2), 0.2);
          // opacity: 1;
          animation: contactFormItemAnime 1s ease-in alternate;
        }
        @keyframes contactFormItemAnime {
          0% {
            transform: translateX(-400px);
            // opacity: 0;
          }
          100% {
            transform: translateX(1);
            // opacity: 1;
          }
        }
        &-item {
          width: 100%;
          margin-bottom: 2em;
          &-container {
            @include dflex;
            position: relative;
          }
          &-icon {
            position: absolute;
            top: 2px;
            left: 5px;
            width: 2.5rem;
            height: 2.5rem;
            .userIcon {
              fill: rgba(color(light-2), 0.4);
            }
            .mailIcon {
              stroke: rgba(color(light-2), 0.4);
              stroke-width: 2px;
              opacity: 0.8;
            }
          }
          &-label {
            color: rgba(color(light-2), 1);
            transition: all 0.3s ease-in-out;
            position: absolute;
            font-size: 1.3em;
            top: 4.5px;
            right: 2px;
            opacity: 0.6;
          }
          &-input {
            line-height: 3rem;
            width: 100%;
            background-color: rgba(color(dark-2), 0.2);
            border-radius: 2px;
            margin-bottom: 0.5rem;
            &:focus {
              outline: 2px solid rgba(color(light-2), 0.2);
              border: transparent;
            }
          }
          &-textArea {
            font-size: 1.3em;
            background-color: rgba(color(dark-2), 0.2);
            border-radius: 2px;
            width: 100%;
            padding: 0.7rem;
            &:focus {
              outline: 2px solid rgba(color(light-2), 0.2);
            }
          }
          &-select {
            color: color(dark-4);
            background-color: rgba(color(light-1), 0.5);
            border: transparent;
            padding-right: 0.5em;
            width: 100%;
            height: 2em;
            cursor: pointer;
            padding-left: 5em;
          }
          .labelUper {
            backdrop-filter: blur(5px);
            padding: 0.1rem 0.5rem;
            border: 3px;
            margin-top: 0.5rem;
            transition: all 0.3s ease-in-out;
            color: rgba(color(light-2), 1);
            top: -20px;
            opacity: 0.8;
          }
          &-errorMsg {
            padding: 0.5rem;
            white-space: nowrap;
            overflow: visible;
            color: rgba(color(light-2), 0.8);
          }
          .unvalidItem {
            .main-contact-form-item {
              &-icon {
                .userIcon {
                  fill: color(error);
                  opacity: 0.8;
                }
                .mailIcon {
                  stroke: color(error);
                  opacity: 0.8;
                }
              }
            }
          }
          .validItem {
            .main-contact-form-item {
              &-icon {
                .userIcon {
                  fill: #16dc16;
                  opacity: 0.7;
                }
                .mailIcon {
                  stroke: #16dc16;
                  opacity: 0.7;
                }
              }
            }
          }
        }
        .actions {
          padding: 1rem 2rem;
          @include dflex(flex-end, flex-end);
          &-submit {
            // margin-left: auto;
            // display: block;
            font-size: 1.3rem;
            border-radius: 3px;
            padding: 0.3rem 3rem;
            background-color: rgba(color(g1-2), 1);
          }
        }
      }
    }
  }
}
//photoSwipe
.pswp {
  img {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    object-fit: contain;
  }
}
// background: conic-gradient(from 0.03turn at 30% 60%, #00b4d8, 60deg, rgba(5, 170, 203, 0.5) 250deg, rgba(5, 170, 203, 0.1));
.opener {
  transition: all 0.5s ease-in-out;
  position: fixed;
  backdrop-filter: blur(5px) !important;
  background-color: rgba(color(dark-2), 0.5) !important;
  right: 0 !important;
}
.sideNotif {
  position: fixed;
  z-index: 100;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  color: color(light-1);
  backdrop-filter: blur(3px);
  &-header {
    @include dflex(space-between);
    height: 3em;
    padding: 0 0.5em;
    border-bottom: 2px solid rgba(color(light-1), 0.5);
    svg {
      opacity: 0.7;
      width: 2em;
      height: 2em;
      path {
        fill: color(light-1);
      }
    }
  }
  &-container {
    padding: 1rem;
    padding-left: 5rem;
    p {
      display: inline;
      text-align: left;
    }
  }
  &-message {
    font-size: 1.2em;
  }
  &-success {
    animation: openModal 0.4s ease-out forwards;
    background-color: rgba(color(success), 0.7);
  }
  &-loading {
    animation: openModal 0.4s ease-out forwards;
    background-color: rgba(color(g3-4), 0.7);
  }
  &-error {
    animation: openModal 0.4s ease-out forwards;
    background-color: rgba(color(error), 0.7);
  }
  &-warning {
    animation: openModal 0.4s ease-out forwards;
    background-color: rgba(color(warning), 0.7);
  }
  &-null {
    opacity: 0;
    animation: closeModal 1s ease-out alternate;
  }
}
@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(90%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.4;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.animatiner-hero {
  position: absolute;
  opacity: 1;
  // background-color: gray;
  animation: heroer-hero 0.75s ease-in alternate;
}
@keyframes heroer-hero {
  from {
    opacity: 0;
    // top: -10px;
  }
  to {
    opacity: 1;
    // top: 10%;
  }
}

.animatiner-about-title {
  // opacity: 0;
  animation: heroer-about-title 2s ease-in alternate;
}
@keyframes heroer-about-title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
