@use "../../../styles/clips.scss" as *;
.cv {
  .main {
    &-skills {
      position: relative;
      color: color(light-2);
      background-color: rgba(color(dark-2), 0.5);
      margin-top: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
      overflow: hidden;

      &-list {
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        overflow: hidden;
        gap: 2rem;
        background-color: rgba(color(g3-2), 0.1);
        &-animator {
          opacity: 1;
          animation: skillItemAnime 1s alternate;
        }
        @keyframes skillItemAnime {
          0% {
            transform: translateX(-200px);
            opacity: 0.5;
          }
          100% {
            transform: translateX(0);
            opacity: 1;
          }
        }

        &-item {
          overflow: hidden;
          @include dflex;
          padding: 1rem;
          @include dflex();
          flex-direction: column;
          gap: 0.5rem;
          background-color: rgba(color(dark-2), 0.2);
          border-radius: 20px;
          &-animator {
            animation: skillItemAnime 1s alternate;
          }
          @keyframes skillItemAnime {
            0% {
              transform: translateX(-200px);
              opacity: 0.5;
            }
            100% {
              transform: translateX(0);
              opacity: 1;
            }
          }
          &-progressBar {
            @include dflex();
            border-radius: 50%;
            height: 11rem;
            width: 11rem;
            padding: 0.8rem;
          }
          &-main {
            position: relative;
            @include dflex();
            height: 100%;
            width: 100%;
            background-color: #413f3f39;
            border-radius: 50%;
            padding: 1.5rem;
            img {
              width: 100%;
            }
          }
          &-tittle {
            padding: 0.5rem 1rem;
            width: 100%;
            text-align: center;
            background-color: rgba(color(g3-4), 0.2);
            font-size: 1.6rem;
            text-transform: capitalize;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
  &-lighter {
    .main {
      &-skills {
        color: color(dark-2);
        background-color: rgba(color(light-2), 0.5);
        &-list {
          background-color: rgba(color(g3-2), 0.1);
          &-item {
            background-color: rgba(color(light-2), 0.3);
            &-main {
              background-color: rgba(color(g4-1), 1);
            }
            &-tittle {
              background-color: rgba(color(g4-4), 0.6);
            }
          }
        }
      }
    }
  }
}
