@use "../../../styles/clips.scss" as *;
.cv {
  .aside {
    position: sticky;
    top: 0px;
    height: 100vh;
    min-width: 20rem;
    max-width: 25rem;
    backdrop-filter: blur(1px);
    background: linear-gradient(
      90deg,
      rgba(75, 116, 160, 0.261) 0%,
      rgba(36, 55, 71, 0.885) 100%
    );
    z-index: 16;
    // transition: all 3s linear;
    @include responsive(md) {
      transition: all 0.5s ease-in-out;
      position: fixed;
      right: -400px;
    }
    &_container {
      @include dflex(flex-start, flex-start);
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    &_opener {
      transition: all 0.5s ease-in-out;
      position: fixed;
      backdrop-filter: blur(5px) !important;
      background-color: rgba(color(dark-2), 0.5) !important;
      right: 0 !important;
    }
    &_header {
      width: 100%;
      @include dflex;
      flex-direction: column;
      &_image {
        width: 100%;
        height: 100%;

        max-width: 14rem;
        max-height: 14rem;
        object-fit: cover;
        overflow: hidden;
        border: 5px solid color(dark-2);
        border-radius: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_fullname {
        padding: 1rem;
        @include dflex;
        flex-direction: column;
        h1 {
          font-size: 1.7rem;
          color: color(light-2);
        }
        .nickName {
          color: rgba(color(g3-1), 1);
        }
      }
      &_socialmedias {
        &_list {
          background-color: rgba(color(g3-2), 0.2);
          border-radius: 1000px;
          padding: 2px 1rem;
          @include dflex;
          gap: 0.5rem;
          &_item {
            a {
              img {
              }
            }
          }
        }
      }
    }
    &_nav {
      width: 100%;
      margin-top: 2rem;
      &_icon {
        width: 2.1rem;
        height: 2.1rem;
      }
      &_list {
        // width: 100%;
        @include dflex(flex-start, flex-start);
        flex-direction: column;
        &_item {
          transition: all 150ms linear;
          padding: 0.7rem 2rem 0.7rem 2rem;
          width: 100%;
          a {
            @include dflex(flex-start);
            gap: 0.5rem;
            svg {
              path {
                stroke-width: 1px;
                // filter: drop-shadow(3px 1px 2px rgba(color(g3-2), 0.5));
                fill: color(light-4);
              }
            }
            span {
              font-size: 1.4rem;
              color: color(light-2);
            }
          }
          &:hover {
            background-color: rgba(color(dark-2), 0.5);
            a {
              svg {
                path {
                  filter: drop-shadow(1px 1px 2px rgba(color(g3-2), 0.5));
                  fill: color(g3-2);
                }
              }
              span {
                color: color(light-2);
              }
            }
          }
          .active {
            a {
              svg {
                path {
                  filter: drop-shadow(1px 1px 2px rgba(color(g3-2), 0.5));
                  fill: color(g3-2);
                }
              }
            }
          }
        }
      }
    }
    &_footer {
      margin-top: auto;
      width: 100%;
      @include dflex;
      flex-direction: column;
      background-color: rgba(color(dark-2), 0.1);
      &_copyright {
        color: rgba(color(g3-2), 1);
      }
      &_designed {
        color: rgba(color(g3-2), 1);
        &_name {
          color: color(light-2);
        }
      }
    }
  }
  &_lighter {
    .aside {
      background: linear-gradient(
        90deg,
        rgba(color(g4-6), 0.3) 0%,
        rgba(color(g4-5), 0.3) 100%
      );
      &_opener {
        background-color: rgba(color(light-1), 0.5) !important;
      }
      &_header {
        &_image {
          border: 2px solid color(light-2);
        }
        &_fullname {
          h1 {
            color: rgba(color(dark-2), 0.9);
            text-shadow: 0px 0px 4px rgba(color(light-2), 0.3);
          }
          .nickName {
            color: rgba(color(g3-6), 0.8);
          }
        }
        &_socialmedias {
          &_list {
            background-color: rgba(color(light-2), 0.2);
          }
        }
      }
      &_nav {
        &_list {
          &_item {
            a {
              svg {
                path {
                  fill: rgba(color(dark-2), 0.6);
                }
              }
              span {
                color: rgba(color(dark-2), 1);
              }
            }
            &:hover {
              background-color: rgba(color(light-2), 0.5);
              a {
                svg {
                  path {
                    // display: none;
                    filter: drop-shadow(0px 0px 3px rgba(color(g3-2), 0.5));
                    // filter: none;
                    fill: rgba(color(g3-4), 0.6);
                  }
                }
                span {
                  color: color(dark-1);
                }
              }
            }
            .active {
              a {
                svg {
                  path {
                    filter: drop-shadow(0px 0px 3px rgba(color(g3-2), 0.5));
                    fill: rgba(color(g3-4), 0.6);
                  }
                }
              }
            }
          }
        }
      }
      &_footer {
        background-color: rgba(color(light-2), 0.1);
        &_copyright {
          color: rgba(color(g3-6), 1);
        }
        &_designed {
          color: rgba(color(g3-6), 1);
          &_name {
            color: rgba(color(g3-5), 1);
          }
        }
      }
    }
  }
  &_en {
    .aside {
      @include responsive(md) {
        left: -400px;
      }
      &_opener {
        left: 0 !important;
      }
      &_nav {
        &_list {
          &_item {
            a {
              span {
                padding-top: 5px;
              }
            }
          }
        }
      }
    }
  }
  .en-aside-dark {
    background: linear-gradient(
      180deg,
      rgba(75, 116, 160, 0.261) 0%,
      rgba(36, 55, 71, 0.885) 100%
    );
  }
  .en-aside-light {
    background: linear-gradient(
      180deg,
      rgba(color(g4-6), 0.3) 0%,
      rgba(color(g4-5), 0.3) 100%
    );
  }
}
