$colors: (
  success: #07bc0c,
  error: #e74c3c,
  warning: #f3c610,
  info: #3498db,
  dark-op15: rgba(34, 34, 34, 0.15),
  dark-op25: rgba(34, 34, 34, 0.25),
  dark-op50: rgba(34, 34, 34, 0.5),
  dark-op75: rgba(34, 34, 34, 0.75),
  dark-op80: rgba(34, 34, 34, 0.8),
  dark-op85: rgba(34, 34, 34, 0.85),
  dark-op90: rgba(34, 34, 34, 0.9),
  dark-1: #0c0c0c,
  dark-2: #232933,
  dark-3: #424750,
  dark-4: #62666d,
  dark-5: #81858b,
  dark-6: #a1a3a8,
  dark-7: #c0c2c5,

  light-op15: rgba(255, 255, 255, 0.15),
  light-op25: rgba(255, 255, 255, 0.251),
  light-op50: rgba(255, 255, 255, 0.502),
  light-op75: rgba(255, 255, 255, 0.592),
  light-op80: rgba(255, 255, 255, 0.7),
  light-op85: rgba(255, 255, 255, 0.8),
  light-op90: rgba(255, 255, 255, 0.9),
  light-1: #fff,
  light-2: #f0f0f1,
  light-3: #e0e0e2,
  light-4: #c0c2c5,
  light-5: #a1a3a8,

  g1-1: #264653,
  g1-2: #2a9d8f,
  g1-3: #e9c46a,
  g1-4: #f4a261,
  g1-5: #e1421a,
  g1-6: #1ccaff,
  g1-7: #2079c5,

  g2-1: #8e9aaf,
  g2-2: #cbc0d3,
  g2-3: #efd3d7,
  g2-4: #feeafa,
  g2-5: #dee2ff,

  g3-0: #f0faff,
  g3-1: #6ec1e4,
  g3-2: #2bbef9,
  g3-3: #0693e3,
  g3-4: #007bff,
  g3-5: #233a95,

  g0-a1: #404258,
  g0-a2: #474e68,
  g0-a3: #50577a,
  g0-a4: #6b728e,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  xl: 3rem,
  lg: 2.5rem,
  md: 2rem,
  sm: 1.8rem,
  xs: 1.6rem,
);

@function size($size) {
  @return map-get($font-sizes, $size);
}
@mixin responsive($brekPoint) {
  @if ($brekPoint==xl) {
    @media (max-width: 1400px) {
      @content;
    }
  }
  @if ($brekPoint==lg) {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if ($brekPoint==md) {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if ($brekPoint==sm) {
    @media (max-width: 470px) {
      @content;
    }
  }
  @if ($brekPoint==xs) {
    @media (max-width: 400px) {
      @content;
    }
  }
}
@mixin dflex($just: center, $alin: center) {
  display: flex;
  align-items: $alin;
  justify-content: $just;
}
@mixin bg-dark-c-light {
  background-color: color(dark-op50);
  color: color(light-2);
}
