@use "../../../../styles/clips.scss" as *;
.cv {
  .controler {
    &-container {
      position: fixed;
      top: 5px;
      left: 5px;
      z-index: 14;
      @include responsive(md) {
        display: none;
      }
    }
    &-list {
      @include dflex();
      gap: 0.5rem;
      &-item {
        @include dflex;
        background-color: rgba(color(dark-2), 0.7);
        border-radius: 5px;
        width: 3rem;
        height: 3rem;
        padding: 0.3rem;
        backdrop-filter: 2px;
        .lightIcon {
          width: 2.2em;
          height: 2.2em;
          path,
          circle {
            fill: rgba(color(light-2), 0.9);
          }
        }
        .darkIcon {
          width: 2em;
          height: 2em;
          path {
            fill: rgba(color(light-2), 0.9);
          }
        }
        .githubIcon {
          width: 2em;
          height: 2em;
          path {
            fill: rgba(color(light-2), 0.9);
          }
        }
        .enIcon {
          @include dflex;
          span {
            color: rgba(color(light-2), 0.9);
            padding-top: 0.3rem;
            font-size: 1.5rem;
            font-weight: 700;
          }
        }
        .fnIcon {
          @include dflex;
          span {
            color: rgba(color(light-2), 0.9);
            padding-top: 0.3rem;
            font-size: 1.5rem;
            font-weight: 700;
          }
        }
      }
    }
  }
  &-lighter {
    .controler {
      &-list {
        &-item {
          background-color: rgba(color(light-2), 0.7);
          .lightIcon {
            path,
            circle {
              fill: rgba(color(g3-5), 0.9);
            }
          }
          .darkIcon {
            path {
              fill: rgba(color(g3-5), 0.9);
            }
          }
          .githubIcon {
            path {
              fill: rgba(color(g3-5), 0.9);
            }
          }
          .enIcon {
            span {
              color: rgba(color(g3-5), 0.9);
            }
          }
          .fnIcon {
            span {
              color: rgba(color(g3-5), 0.9);
            }
          }
        }
      }
    }
  }
  &-en {
    .controler {
      &-container {
        position: fixed;
        top: 5px;
        left: auto;
        right: 5px;
        z-index: 14;
        @include responsive(md) {
          display: none;
        }
      }
      &-list {
        margin-left: auto;
      }
    }
  }
}
